/testData
*.pyc
*.pkl
/.snakemake
/.vscode
/.idea
*.mda
.DS_Store
/.ipynb_checkpoints

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/

testData/
sorting_tmp/
tests/regression/output
./regression
.snakemake
artifacts/
