ml_ms4alg
pandas
joblib
scipy
matplotlib
numpy
numba
xlrd
rpy2
scikit-image
cmocean
pyyaml
tqdm
spikeforest
pandas      
pytest
elephant
spikeinterface == 0.13
xarray
bottleneck
snakemake >=7.0
imbalanced-learn==0.8.1
astropy
palettable==3.3.0
scikit-learn==0.24.2
git+https://github.com/teristam/snakehelper.git